@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Bold.woff2') format('woff2'),
        url('GothamHTF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('GothamHTF-Light.woff2') format('woff2'),
        url('GothamHTF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amarillo';
    src: url('Amarillo.woff2') format('woff2'),
        url('Amarillo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

